@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Inter', sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@keyframes changeColorPath1 {
  0% {
      fill: #FFFF09; /* Yellow */
  }
  33.33% {
      fill: #FF66C4; /* Pink */
  }
  66.66% {
      fill: #00F4FF; /* Blue */
  }
  100% {
      fill: #FFFF09; /* Yellow */
  }
}

@keyframes changeColorPath2 {
  0% {
      fill: #FF66C4; /* Pink */
  }
  33.33% {
      fill: #00F4FF; /* Blue */
  }
  66.66% {
      fill: #FFFF09; /* Yellow */
  }
  100% {
      fill: #FF66C4; /* Pink */
  }
}

@keyframes changeColorPath3 {
  0% {
      fill: #00F4FF; /* Blue */
  }
  33.33% {
      fill: #FFFF09; /* Yellow */
  }
  66.66% {
      fill: #FF66C4; /* Pink */
  }
  100% {
      fill: #00F4FF; /* Blue */
  }
}

#path1 {
  animation: changeColorPath1 1s linear infinite; /* 0.2s for each color transition (1s total duration) */
}

#path2 {
  animation: changeColorPath2 1s linear infinite; /* Delay by 0.2s */
}

#path3 {
  animation: changeColorPath3 1s linear infinite; /* Delay by 0.4s */
}

